@tailwind base;
@tailwind components;
@tailwind utilities;

/* styles.css */
.slick-prev, .slick-next {
  color: red; /* Replace with your desired color */
  font-size: 24px; /* Adjust the size if needed */
}

.slick-prev:before, .slick-next:before {
  font-size: 24px; /* Adjust the size if needed */
}
